/* RESET */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* font del sito */
body{
    font-family: Montserrat;
}

/* BODY */
.container{
    width: 80%;
    margin: 0 auto;
}

/* COMMON */
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    border-radius: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END COMMON */

/* HEADER */

/*  container logo */
header >.logo{
    width: 100%;
}
/* end container logo */

/* logo */
.logo > img{
    width: 220px;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}
/* end logo */

/* menu */

/* tolgo i puntini */
.logo > nav{
    padding: 20px 0;
}
.menu > li{
    list-style-type: none;
    display: inline-block;
}
/* tolgo la sottolineatura e il colore e mettere il padding  */
.menu > li > a{
    text-decoration: none;
    color: #b4b4b4;
    margin-right: 10px ;
}

/* end menu*/

/* img header */
.img_header{
    margin: 2% 0;
    width: 100%;
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}
/* end img header */
/* text-img */
.text-img{
    color: white;
    position: absolute;
    top: 65%;
    left: 5%;
    width: 50%;
    font-size: 20px;
}
.text-img > h2{
    line-height: 40px;
}
/* end text-img */

/* END HEADER */


/* MAIN */

/* clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* parte sopea delle colonne */
.title{
    width: 100%;
    margin: 1% 0;
}
.title > h2{
    font-size: 40px;
}
.title > span {
    color: #b2b2b2;
}
/* classe float alle colonne */
.col{
    float: left;
    width: 23%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;  
}
/* conteiner dlle immagini */
.container-img{
    position: relative;
    width: 100%;
    height: 300px;
}
/* padding titolo descrizione */
.container-text > h3{
    padding: 17px 0;
    font-weight: 100;
}
/* paragrafo descrizione bianco */
.container-text > p{
    color: #bababa;
}
/* colonan più grande */
#col_big{
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
}
.container-text{
    text-align: left;
}
/* END MAIN */

/* FOOTER */

footer{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
/* heart */
#heart{
    color:red;
}

/* END FOOTER */
